:root {
    /** Define the colour palette everything uses.
      * Avoid using hex colours outside of this section!
      *
      * Do also forgive my sin of prepending "alma" to everything.
      * I like sticking the project name in front of things. */
    --almaBlack:#17171a;
    --almaGrey:#201f33;
    --almaWhite:#edfaff;
    --almaBlue:#47a1b3;
    --almaTurquoise:#52cca3; /** how do you spell turqouise */
    --almaLightBlue:#98add9;
    --almaGreen:#50c75a;
    --almaPurple:#332966;
}

@font-face {
    font-family: 'BasicHandwriting';
    src: url('UI_assets/BasicHandwriting.ttf') format('truetype')
    /** TODO: Other formats e.g. .woff, .woff2 etc etc etc */
}

/** Page background. */
body {
    background-color: var(--almaBlack);
}

/** Style for backgrounds of any input elements. */
textarea, input[type="text"]{
    /** Self explanatory (ie. boring!) */
    background-color: var(--almaGrey);
    border: 3px solid var(--almaGrey);
    
    /** Outside-the-box padding */
    margin: 8px;
    
    /** Inside-the-box padding */
    padding: 8px;
    
    /** Gets rid of that annoying blue border on selection */
    outline: none;    
    
    /** Makes the border fade in on click, rather than being instantaneous */
    transition: 0.1s ease-in-out;
    
    /** Makes text input elements constant size. Helps with formatting, but 
      * let me know if this wants getting rid of. */
    resize: none;
}
/** Makes boxes pretty on mousing over */
textarea:hover, input[type="text"]:hover{
    border-color: var(--almaBlue);
    
    /** Changes the box size without affecting anything else's formatting. Neat! */
    padding: 12px;
    margin: 4px;
}

/** Makes the boxes pretty when you click/otherwise select them */
textarea:focus, input[type="text"]:focus{
    border: 3px solid;
    border-color: var(--almaWhite);  
}

textarea:active, input[type="text"]:active{
    background-color: var(--almaBlack);
    padding: 4px;
    margin: 12px;    
}

/** Basically the above with some tweaks for buttons */
input[type="button"]{
    background-color: var(--almaGrey);
    border: 3px solid var(--almaPurple);
    
    margin: 8px;
    padding: 8px;

    outline: none;    
    transition: 0.1s ease-in-out;
    
    /** Makes the cursor turn into that little hand. Not sure why this isn't default. */
    cursor: pointer
}

input[type="button"]:hover{
    border-color: var(--almaGreen);
    padding: 12px;
    margin: 4px;
}

/** On-click effects */
input[type="button"]:active{
    border-color: var(--almaWhite);      
    padding: 4px;
    margin: 12px;
}

/** Style for everywhere where basic text appears. */
p, label, textarea, input{
    color: var(--almaWhite);   
    font-family: 'BasicHandwriting'; 
    
    /** Ought to always be a multiple of 16px (its pixel art) */
    font-size:16px; 
    
    /** Surprisingly 1 is not the default value */
    line-height:1
}

::selection{
    background: var(--almaTurquoise);
    /** If anyone knows how to make the background bigger do let me know
}